@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

@import './variables';

* {
    font-family: $font-primary;
}
body {
    font-size: 1vw;
    background-color: $color-background;
    font-family: $font-primary;
}

select {
    border: 2px solid $color-secondary;
    background-color: $color-secondary;
    color: $color-background;
    font-size: 2em;
    border-radius: 2vw;
    padding: 0.1vw 1.2vw;
}

.btn-icon {
    border: none;
    background: none;
}

.btn {
    border: 2px solid $color-secondary;
    background-color: $color-secondary;
    color: $color-background;
    font-size: 2em;
    border-radius: 2vw;
    padding: 0.1vw 1.2vw;
    &-cta {
        font-size: 2.6em;
    }
}
