.player-list {
    margin: 2vw 0;
    &__title {
        color: gray;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid gray;
        padding: 1vw;
        &:last-of-type {
            border-bottom: none;
        }
        p {
            font-size: 1.2em;
        }
        button {
            background: none;
            border: 0;
            font-size: 1.2em;
            font-weight: 700;
            cursor: pointer;
            opacity: 0.4;
            &:hover {
                opacity: 1;
                color: red;
            }
        }
    }
}
